{% extends "::base.html.twig" %}

{% block title %}{{ 'app.title.long'|trans }}{% endblock %}

{% block head_style %}
    {% stylesheets filter='less' output='css/compiled/styles.css'
    '@bootstrap_less'
    '@bootstrap_datepicker_css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
    {%- javascripts filter = '?yui_js' output='js/compiled/jquery.js'
    '@jquery_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block foot_script_assetic %}
    {%- javascripts filter = '?yui_js' output='js/compiled/scripts.js'
    'js/jquery.form.min.js'
    '@bootstrap_js'
    '@bootstrap_datepicker_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: true } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'app.title.short'|trans }}</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('user', {'automenu': 'navbar', 'pull-right': true, template: 'AppBundle:Menu:menu.html.twig'}) }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block content %}
    <div class="col-sm-2">
        {% block content_sidebar %}
            {{ mopa_bootstrap_menu('left', {'automenu': 'pills', 'stacked': true, template: 'AppBundle:Menu:menu.html.twig'}) }}
        {% endblock content_sidebar %}
    </div>

    <div class="col-sm-10">
        {% block content_content %}

        {% endblock content_content %}
    </div>
{% endblock content %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">&copy; {{ 'now'|date('Y') }} {{ 'app.title.long'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock footer %}

{% block body_end %}
    <img src="{{ asset('bundles/app/images/ajax-loader.gif') }}" id="loading-indicator" style="display:none" />
{% endblock body_end %}